{
	"printWidth": 100,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteStrictMode": true,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": false
}
