// Nothing here. Just use the default theme.
@use '@material/theme/color-palette';

$background: #fff;

@use '@material/theme/index' as theme with (
  $primary: color-palette.$deep-purple-400,
  $secondary: color-palette.$deep-orange-500,
  $surface: color-palette.$blue-grey-50,
  $background: $background,
  $error: color-palette.$red-a400,
);

html,
body {
	background-color: $background;
	color: if(theme.contrast-tone($background) == 'dark', #000, #fff);
}
