// Nothing here. Just use the default theme.
@import '~@material/theme/color-palette';

html {
	color: $material-color-grey-900;

	a {
		color: $material-color-grey-900;
		cursor: pointer;
		text-decoration: none;
	}

	.flex-container {
		display: flex;
	}
}
