// Standard vars

$unit: 1rem;
$unit-half: $unit / 2;
$unit-quarter: $unit / 4;
$unit-double: $unit * 2;

// Custom vars

$max-content-width: $unit * 50;
$max-article-logo-height: $unit * 7;
$max-profile-logo-height: $unit * 13;
