@import '~@material/typography/mdc-typography';
@import '~@material/theme/color-palette';
@import '~evil-icons/assets/evil-icons.css';
@import './global.scss';

html {
	color: $material-color-grey-900;

	a {
		color: $material-color-grey-900;
		cursor: pointer;
		text-decoration: none;
	}

	.flex-container {
		display: flex;
	}

	.greyed {
		color: $material-color-blue-grey-300;
	}

	.padded-block {
		margin: $unit-half;
	}
}
