@import 'node_modules/@material/typography/mdc-typography';
@import 'node_modules/@material/theme/color-palette';
@import 'node_modules/evil-icons/assets/evil-icons.css';

html {
	color: $material-color-grey-900;

	a {
		color: $material-color-grey-900;
		cursor: pointer;
		text-decoration: none;
	}

	.flex-container {
		display: flex;
	}

	.greyed {
		color: $material-color-blue-grey-300;
	}

	.padded-block {
		margin: 10px;
	}
}
