@import '~@material/typography/mdc-typography';
@import '~@material/theme/color-palette';
@import './global.scss';

html {
	body {
		margin: 0;
	}

	color: $material-color-grey-900;

	a {
		color: $material-color-grey-900;
		cursor: pointer;
		text-decoration: none;
	}

	.flex-container {
		display: flex;
	}

	.greyed {
		color: $material-color-blue-grey-300;
	}

	// Responsive things ----

	.hide-desktop-only {
		display: flex;
	}

	.show-desktop-only {
		display: none;
	}

	@media (min-width: $max-content-width-full) {
		.hide-desktop-only {
			display: none;
		}

		.show-desktop-only {
			display: flex;
		}
	}
}
